- @page_title = t('orders.closed.title')

.grid
  .s12
    %p= t('orders.total_count') + " = #{@orders.count}"

.order-list
  %table.table.table-hover
    %thead.table-header
      %tr
        %th= t('activerecord.attributes.order.title')
        %th.m.l= t('activerecord.attributes.order.text')
        %th.hidden= t('activerecord.attributes.order.data')
        %th.center-align= t('activerecord.attributes.order.acknowledged_by')
        %th.center-align= t('activerecord.attributes.order.acknowledged_at')
        %th.center-align= t('minutes_open')
        %th= t('actions')

    %tbody.order-list-body
      - @orders.each do |order|
        %tr{'data-id': order.id, 'data-component'=>'order', style: "background-color: #{order.new? ? '#19475E' : ''};"}
          %td= order.title
          %td.m.l= order.text.gsub('{','').gsub('}','').gsub('"','').gsub(',',', ').gsub(':','=')
          %td.hidden= order.data
          %td.center-align= order.acknowledged_by
          - if order.acknowledged_at.present?
            %td.center-align= order.acknowledged_at.localtime.to_fs(:custom_datetime)
            %td.center-align= (order.acknowledged_at.to_i - order.created_at.to_i)/60
          - else
            %td.center-align
            %td.center-align
          %td.admin-list-actions
            .admin-list-actions__link
              = form_for order, url: closed_order_path(order), role: 'form', method: :patch do |f|
                = f.check_box :acknowledged, checked: false, class: 'hidden'
                = f.button(type: 'submit', class:'small square', style:'margin: 0 0 0 5px;') do
                  %i.material-icons.admin-actions__link__icon= 'keyboard_return'
            .admin-list-actions__link
              = link_to closed_order_path(order), data: { turbo_method: :delete } do
                = button_tag class: 'small square', style:'margin: 0 0 0 5px;' do
                  %i.material-icons.admin-actions__link__icon= 'delete'

  .order-list-footer
    = render 'paginator', orders: @orders

  .admin-actions
    .admin-actions__link
      = button_to closed_orders_path, class:'border small square', method: :get do
        %i.material-icons.admin-actions__link__icon= 'refresh'
