%tr{id: "order-#{order[:id]}", 'data-orders-target': target_name}
  %td= order[:title] + (order[:count] > 1 ? " (#{order[:count]})" : '')
  %td
    - order = Order.from_user(current_user.id).find(order[:id]) #blup: nötig?
    = form_for order, url: open_order_path(order), role: 'form', method: :patch do |f|
      = f.check_box :acknowledged, checked: true, class: 'hidden'
      = f.button(type: 'submit', class:'extra', style: 'height: 40px;', data: {action: 'click->orders#closeOrder'}) do
        = t('orders.close')
  %td= order[:created_at].localtime.to_fs(:custom_datetime_hour)
