- @page_title = t('home.title')

.home
  .grid
    .s12
      %h6= t('home.title1')
      %p= t('home.text11')
      %p= t('home.text12')
      %p= t('home.text13')
      = image_tag 'beerbuttons.jpg', width: '100%', alt: 'BeerButtons image'

      %h6= t('home.title2')
      %p= t('home.text21').html_safe
      %p= t('home.text22')

      %h6= t('home.title3')
      %p= t('home.text31')
      %p= t('home.text32')
      %p= t('home.text33')

      %h6= t('home.title4')
      %p= t('home.text41')
      %p= t('home.text42')

      %h6= t('home.title5')
      %p
        = t('home.text51')
        %br
        = t('home.text52')
        %br
        = t('home.text56')
        %br
        = t('home.text57')
        %br
        = t('home.text58')

      %h6= t('home.title6')
      %p
        = t('home.text61')
        %span.link= link_to t('sign_up'), new_user_registration_path
        = t('home.text62')

      %h6= t('home.title7')
      %strong= t('home.text71')
      %p= t('home.text72')
      %strong= t('home.text73')
      %p= t('home.text74')
      %strong= t('home.text75')
      %p= t('home.text76')
      %strong= t('home.text77')
      %p= t('home.text78')
      -# %strong= t('home.text79')
      -# %p= t('home.text710')




-# table call system
-#
-# Tischsender für Kellnerruf
-#
-# Kellnerruf / Butler Bells
-#
-# it highlights an establishment’s commitment to service and allows guests to have a say in their service
-#
-# he device is empowering for the guest, Barlow added, as the diner doesn’t have to raise their hand or use eye contact to bring a server to his or her table. And, in terms of sales, devices like Kallpod can generate incremental revenue from impulse items such as beverages and desserts. In addition, “it’s an icebreaker that brings the guest closer to service staff,”
-#
-# There might not be enough traffic to merit staffing a small kitchen or food kiosk outside the pool, for example, but by using devices like Kallpod, limited-service hotels can extend service and leverage their existing staff to help guests in lower-traffic areas.
-#
-# Faster Service:
-# Don't make customers wait for your staff to check up on them before they want to order extra drink or dish.
-#
-# Increase Sales:
-# Answering calls in a timely manner helps adding an extra round of drinks though increasing overall sales of the restaurant.
-#
-# Privacy:
-# Avoid awkwardly checking up on guests, or making them feel unwelcome by offering them the bill before they are ready.
-#
-# Improved Guest Satisfaction:
-# Decreased negative guest reviews and increased retention.
-#
-# noisy environment?
-#
-# long waiting times?
-#
-#
-# Schnellerer Service:
-# Sparen Sie dem Gast und dem Service Zeit.
-# Kein Kunde kann mehr vergessen werden.
-#
-# Mehr Gäste:
-# Wenn Gäste schneller bedient werden, haben Sie schneller wieder freie Kapazitäten für andere Kunden.
-#
-# Mehr Bestellungen:
-# Wer schneller bedient wird kann schneller nachbestellen.
-#
-# Dank E-paper display beliebiger Werbedruck / Kundenlogo möglich
-#
-#
-# zwei buttons:
-# call / cancel
-#
-# order / pay
-#
-# refill / pay
-#
-# good / bad feedback
-#
-#
