.footer
  .grid.center-align
    .s4
      = link_to t('imprint.title'), imprint_path, style: "text-decoration: #{@section == 'imprint' ? 'underline' : ''};"
    .s4
      = link_to "© BeerButton 2024", home_path
    .s4
      = link_to t('contact.title'), contact_path, style: "text-decoration: #{@section == 'contact' ? 'underline' : ''};"
