-# pc & tablet view:
%nav.left.l
  - if current_user.present?
    = link_to home_path, class: (@section == 'home' ? 'active' : '') do
      = image_tag 'beer_1.png', class: 'circle', alt: 'BeerButton profile picture'
    -# = link_to home_path, class: (@section == 'home' ? 'active' : '') do
    -#   %i home
    -#   %div= 'Home'
    = link_to open_orders_path, class: (@section == 'open_orders' ? 'active' : '') do
      %i shopping_cart
      %div= t('orders.open.title_short')
    = link_to closed_orders_path, class: (@section == 'closed_orders' ? 'active' : '') do
      %i remove_shopping_cart
      %div= t('orders.closed.title_short')
    = link_to devices_path, class: (@section == 'devices' ? 'active' : '') do
      %i devices_other
      %div= t('devices.title')
  - else
    = link_to root_path, class: (@section == 'home' ? 'active' : '') do
      = image_tag 'beer_1.png', class: 'circle', alt: 'BeerButton profile picture'
    -# = link_to home_path, class: (@section == 'home' ? 'active' : '') do
    -#   %i home
    -#   %div= 'Home'
    = link_to session_path(:user), class: (@section == 'login' ? 'active' : '') do
      %i input
      %div= t('login')
    = link_to new_user_registration_path, class: (@section == 'sign_up' ? 'active' : '') do
      %i person_add
      %div= t('sign_up')
  %dialog.large.left.no-scroll
  %dialog.left

-# mobile view:
%nav.bottom.s.m
  - if current_user.present?
    = link_to home_path, class: (@section == 'home' ? 'active' : '') do
      %i home
      %div= 'Home'
    = link_to open_orders_path, class: (@section == 'open_orders' ? 'active' : '') do
      %i shopping_cart
      %div= t('orders.open.title_short')
    = link_to closed_orders_path, class: (@section == 'closed_orders' ? 'active' : '') do
      %i remove_shopping_cart
      %div= t('orders.closed.title_short')
    = link_to devices_path, class: (@section == 'devices' ? 'active' : '') do
      %i devices_other
      %div= t('devices.title')
  - else
    = link_to root_path, class: (@section == 'home' ? 'active' : '') do
      %i home
      %div= 'Home'
    = link_to session_path(:user), class: (@section == 'login' ? 'active' : '') do
      %i input
      %div= t('login')
    = link_to new_user_registration_path, class: (@section == 'sign_up' ? 'active' : '') do
      %i person_add
      %div= t('sign_up')
  %dialog.large.left.no-scroll
  %dialog.bottom.medium

- if current_user.present?
  -# Log out modal
  %dialog#log-out-modal
    %h5.center-align= t('users.logout')
    -# %div Some other text here
    %nav.middle-align.center-align
      %button.small-round.border{"data-ui" => "#log-out-modal"}= t('cancel')
      = link_to destroy_user_session_path, data: { turbo_method: :delete, ui: "#log-out-modal" } do
        = button_tag t('confirm'), class: 'small-round'
- else
  -# Log in modal
  %dialog#log-in-modal.top
    %nav
      %button.circle.transparent{"data-ui": "#log-in-modal", style: 'position: absolute; right: 0; top: 0;'}
        %i close
    %h5.center-align= t('login')
    -# %div Some other text here
    %div.center-align{style: 'padding: 0 1rem;'}
      -# = form_for(resource, as: resource_name, url: session_path(resource_name), html: { "data-turbo": "false" }) do |f|
      -# = form_tag session_path(:user), html: { "data-turbo": "false" } do
      = form_for(User.new, as: "user", url: session_path(:user), html: { "data-turbo": "false" }) do |f|
        .field.label.border
          = f.email_field :email, autocomplete: "email", autofocus: 'true'
          = f.label :email
        .field.label.border
          = f.password_field :password, autocomplete: "new-password"
          = f.label :password
        .field
          .grid
            .s12.center-align
              %button.small-elevate{type: 'submit'}
                %i input
                %span= t('log_in')
          .grid
            .s6.center-align
              = link_to t('sign_up'), new_user_registration_path
            .s6.center-align
              = link_to t('devise.sessions.forgot_pw'), new_password_path(:user)
