-# pc & tablet view:
%nav.left.m.l
  -# = link_to root_path, class: (@section == 'welcome' ? 'active' : '') do
  -#   = image_tag 'profile_pic.webp', class: 'profile_pic circle small-margin', alt: 'BeerButton profile picture'
  = link_to home_path, class: (@section == 'home' ? 'active' : '') do
    %i home
    %div= 'Home'
  = link_to open_orders_path, class: (@section == 'open_orders' ? 'active' : '') do
    %i filter
    %div= 'Open Orders'
  = link_to closed_orders_path, class: (@section == 'closed_orders' ? 'active' : '') do
    %i filter
    %div= 'Closed Orders'
  - if current_user.present?
    - if current_user.admin?
      = link_to devices_path, class: (@section == 'devices' ? 'active' : '') do
        %i auto_awesome
        %div= 'Devices'
    -# = link_to settings_path, class: (@section == 'settings' ? 'active' : '') do
    -#   %i settings
    -#   %div= t('settings.title')
  - else
    = link_to session_path(:user), class: (@section == 'login' ? 'active' : ''), style: 'margin-top: auto;' do
      %i input
      %div= t('login')
  .modal.large.left.no-scroll
  .modal.left

-# mobile view:
%nav.bottom.s
  = link_to home_path, class: (@section == 'home' ? 'active' : '') do
    %i home
    %div= 'Home'
  = link_to open_orders_path, class: (@section == 'open_orders' ? 'active' : '') do
    %i filter
    %div= 'Open Orders'
  = link_to closed_orders_path, class: (@section == 'closed_orders' ? 'active' : '') do
    %i filter
    %div= 'Closed Orders'
  - if current_user.present?
    - if current_user.admin?
      = link_to devices_path, class: (@section == 'devices' ? 'active' : '') do
        %i auto_awesome
        %div= 'Devices'
    -# = link_to settings_path, class: (@section == 'settings' ? 'active' : '') do
    -#   %i settings
    -#   %div= t('settings.title')
  - else
    = link_to session_path(:user), class: (@section == 'login' ? 'active' : ''), style: 'margin-top: auto;' do
      %i input
      %div= t('login')
  .modal.large.left.no-scroll
  .modal.bottom.medium
